<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>cadastro</title>
</head>
<body>
    <header>
        <nav>
        <img id="pokeLogo" src="/img/pokemon-logo.png" alt=" logo" width=" 150p">
        <ul>
            <li id="inicio"><p>Inicio</p></li>
            <li id="pokedex"><p>Pokedéx</p></li>
            <li id="cadastro"><p>Cadastro</p></li>
            <li id="treinadores"><p>banana</p></li>
        </ul>
        </nav>
    </header>
    <Section id="cadastro">
        <div id="tituloCadastro">
            <h2>Cadastre aqui o Seu Pokemon!</h2>
            <p>Você pode criar um pokemon do zero ou usar as informações da <a href="https://www.pokemon.com/br/pokedex/" target="_blank">pokedex oficial</a></p>
        </div>
        <div id="formulario">
            <form action="">
                <div>
                    <label for="">Número:</label>
                    <input
                        type="text"
                        name="numero"
                        id="numero"
                    />
                </div>

                <div>
                    <label for="">Nome:</label>
                    <input
                        type="text"
                        name="nome"
                        id="nome"
                    />
                </div>

                <div>
                    <label for="">Tipo(s):</label>
                    <input
                        type="text"
                        name="tipo"
                        id="tipo"
                    />
                </div>

                <div>
                    <label for="">Imagem:</label>
                    <input type="text" name="img" id="img" />
                </div>

                <div>
                    <label for="">Descrição:</label>
                    <input
                        type="text"
                        name="descricao"
                        id="descricao"
                    />
                </div>

                <div>
                    <label for="">Altura:</label>
                    <input
                        type="text"
                        name="altura"
                        id="altura"
                    />
                </div>

                <div>
                    <label for="">Peso:</label>
                    <input
                        type="text"
                        name="peso"
                        id="peso"
                    />
                </div>

                <div>
                    <label for="">Categoria:</label>
                    <input
                        type="text"
                        name="categoria"
                        id="categoria"
                    />
                </div>

                <div>
                    <label for="">Habilidade:</label>
                    <input
                        type="text"
                        name="habilidade"
                        id="habilidade"
                    />
                </div>
                <div>
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
            <img src="/img/treinadores.png" alt="" />
            </div>
    </Section>
    <footer class="rodape">Todos os direitos resevados!</footer>
</body>
</html>