<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <header>
        <img src="/img/pokemon-logo.png" alt=" logo" width=" 150px">
    </header>
    <section>
        <span class="gcard">
            <span>
                <div id="busca"><input type="search"><button>pesquisar</button></div>
            </span>
            <div class="card">
            <img src="/img/pk1.png" alt="Pokemon">
            </div>
            <div class="card">
            <img src="/img/pk1.png" alt="Pokemon">
            </div>
            <div class="card">
                <img src="/img/pk1.png" alt="Pokemon">
            </div>
        </span>
    </section>
    <footer class="rodape">Todos os direitos resevados!</footer>
</body>
</html>