<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <header>
        <nav>
        <img id="pokeLogo" src="/img/pokemon-logo.png" alt=" logo" width=" 130px">
        <ul>
            <a href="#"><li id="navA"><p>Início</p></li></a>
            <a href="#"><li id="navB"><p>Pokedéx</p></li></a>
            <a href="#"><li id="navC"><p>Cadastro</p></li></a>
            <a href="#"><li id="navD"><p>Treinadores</p></li></a>
        </ul>
        </nav>
    </header>

    <section class="gcard">
        <section>
            <div id="busca"><input type="search"><button>pesquisar</button></div>
            <div id="busca"><input type="opction"><button>^</button></div>
        </section>
        <section>
            <ul>
                <li class="card">
                    <figure><img src="/img/pk1.png" alt="pokemon" width="100px"></figure>
                </li>
                <li class="card"><img src="/img/pk1.png" alt="pokemon" width="100px"></li>
                <li class="card"><img src="/img/pk1.png" alt="pokemon" width="100px"></li>
            </ul>
        </section>

    <h1>Pokedéx</h1>
    <section>
        <span class="gcard">
            <span>
                <div id="busca"><input type="search"><button>pesquisar</button></div>
            </span>
            <% pokedex.forEach((pokemon) => { %>
            <div class="card">
                <h2 class="nome"><%=pokemon.nome%></h2>
                <img class="imagem" src="<%=pokemon.imagem%>" alt="">
                <h3 class="tipo"><%=pokemon.tipo%> </h3>
            </div>
            <% }) %>
        </span>
>>>>>>> daf8a1820e0211967ae713a64b9f09936007e304
    </section>
    <footer class="rodape">Todos os direitos resevados!</footer>
</body>
</html>