<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <header>
        <nav>
        <img id="pokeLogo" src="/img/pokemon-logo.png" alt=" logo" width=" 130px">
        <ul>
            <li id="inicio"><p>Inicio</p></li>
            <li id="pokedex"><p>Pokedéx</p></li>
            <li id="cadastro"><p>Cadastro</p></li>
            <li id="treinadores"><p>banana</p></li>
        </ul>
        </nav>
    </header>
    <section class="gcard">
        <section>
            <div id="busca"><input type="search"><button>pesquisar</button></div>
            <div id="busca"><input type="opction"><button>^</button></div>
        </section>
        <section>
            <ul>
                <li class="card">
                    <figure><img src="/img/pk1.png" alt="pokemon" width="100px"></figure>
                </li>
                <li class="card"><img src="/img/pk1.png" alt="pokemon" width="100px"></li>
                <li class="card"><img src="/img/pk1.png" alt="pokemon" width="100px"></li>
            </ul>
        </section>
    </section>
    <footer class="rodape">Todos os direitos resevados!</footer>
</body>
</html>