<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <header>
        <nav>

        <img id="pokeLogo" src="/img/pokemon-logo.png" alt=" logo" width=" 130px">
        <ul>
            <a href="#"><li id="navA"><p>Início</p></li></a>
            <a href="#pokedex"><li id="navB"><p>Pokedéx</p></li></a>
            <a href="#"><li id="navC"><p>Cadastro</p></li></a>
            <a href="#"><li id="navD"><p>Treinadores</p></li></a>
        </ul>
        </nav>
    </header>

    <main class="gcard">

        <section id="pokedex">
            <div id="busca"><input type="search"><button>pesquisar</button></div>
            <div id="filtro"><input type="option"><button>^</button></div>
        </section>
        
        <article>
            <div id="pokemon">
                <% pokedex.forEach((pokemon) => { %>
                <div class="card">
                    <figure>
                        <img class="imagem" src="<%=pokemon.imagem%>" alt="" width="120">
                    </figure>
                    <h2 class="nome"><%=pokemon.nome%></h2>
                    <h3 class="tipo"><%=pokemon.tipo%></h3>
                    <h3 class="tipo"><%=pokemon.tipo2%></h3>
                </div>
                <% }) %>
            </div>
        </article>
    </main>

    <footer class="rodape">
        Todos os direitos resevados!
    </footer>
    
</body>
</html>