<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <header>
        <nav>
        <img id="pokeLogo" src="/img/pokemon-logo.png" alt=" logo" width=" 150p">
        <ul>
            <li id="inicio"><p>Inicio</p></li>
            <li id="pokedex"><p>Pokedéx</p></li>
            <li id="cadastro"><p>Cadastro</p></li>
            <li id="treinadores"><p>Treinadores</p></li>
        </ul>
        </nav>
    </header>
    
</body>
</html>