<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Pokédex</title>
</head>
<body>
    <header>
        <nav>
            <img id="pokeLogo"src="/img/pokemon-logo.png"alt=" logo"/>
            <ul>
                <a href="#"
                    ><li id="navA"><p>Início</p></li></a
                >
                <a href="#pokedex"
                    ><li id="navB"><p>Pokédex</p></li></a
                >
                <a href="#cadastro"
                    ><li id="navC"><p action="/cadastro" method="GET">Cadastro</p></li></a
                >
                <a href="#treinadores"
                    ><li id="navD"><p>Treinadores</p></li></a
                >
            </ul>
        </nav>
    </header>

    <main>
        <section id="gcard">
            <form id="pokedex">
                <h2>Encontre seu Pokemon</h2>
                <div id="busca">
                    <img src="/img/icons8-pesquisar-mais-30.png" alt="buscar">
                    <input type="text" id="txtBusca" placeholder="Buscar..."/>
                    <button id="btnBusca">Buscar</button>
                </div>
                <div id="filtro">
                    <label for="pokemon"></label>
                    <select id="sortOrder">
                        <option value="noSort">Organizar resultados por…</option>
                        <option selected="" value="numberAsc">Menor número primeiro</option>
                        <option value="numberDesc">Maior número primeiro</option>
                        <option value="nameAsc">A-Z</option>
                        <option value="nameDesc">Z-A</option>
                    </select>
                </div>
            </form>
            <article>
				<div id="pokemon">
					<% pokedex.forEach((pokemon) => { %>
						<div class="card">
							<img class="imagem" src="<%=pokemon.imagem%>" alt="" width="120"/>
							<h2 class="nome"><%=pokemon.nome%></h2>
							<% pokemon.tipo.forEach((tipo) => { %>
							<h3 class="tipo"><%=tipo%></h3>
							<% })%>
						</div>
					<% }) %>
				</div>
			</article>
		</section>
		<Section id="cadastro">
            <div id="tituloCadastro">
                <h2>Cadastre aqui o Seu Pokemon!</h2>
                <p>Você pode criar um pokemon do zero ou usar as informações da <a href="https://www.pokemon.com/br/pokedex/" target="_blank">pokedex oficial</a></p>
            </div>
            <div id="formulario">
                <form action="/cadastro" method="POST">
                    <div>
                        <label for="numero">Número:</label>
                        <input
                            type="text"
                            name="numero"
                            id="numero"
                        />
                    </div>

                    <div>
                        <label for="nome">Nome:</label>
                        <input
                            type="text"
                            name="nome"
                            id="nome"
                        />
                    </div>

                    <div>
                        <label for="tipo">Tipo(s):</label>
                        <input
                            type="text"
                            name="tipo"
                            id="tipo"
                        />
                    </div>

                    <div>
                        <label for="imagem">Imagem:</label>
                        <input type="text" name="imagem" id="imagem" />
                    </div>

                    <div>
                        <label for="descricao">Descrição:</label>
                        <input
                            type="text"
                            name="descricao"
                            id="descricao"
                        />
                    </div>

                    <div>
                        <label for="altura">Altura:</label>
                        <input
                            type="text"
                            name="altura"
                            id="altura"
                        />
                    </div>

                    <div>
                        <label for="peso">Peso:</label>
                        <input
                            type="text"
                            name="peso"
                            id="peso"
                        />
                    </div>

                    <div>
                        <label for="categoria">Categoria:</label>
                        <input
                            type="text"
                            name="categoria"
                            id="categoria"
                        />
                    </div>

                    <div>
                        <label for="habilidade">Habilidade:</label>
                        <input
                            type="text"
                            name="habilidade"
                            id="habilidade"
                        />
                    </div>
                    <div>
                        <button type="submit">Cadastrar</button>
                    </div>
				</form>
				<img src="/img/treinadores.png" alt="" />
                </div>
	    </Section>
		<section id="treinadores">
			<h2>Treinadores</h2>
				<div>
					<article>
						<img
							src="https://uploads.metropoles.com/wp-content/uploads/2018/01/10142944/Screenshot_1115-556x400.jpg"
							alt=""
							width="40%"
						/>
						<h4>Tiririca</h4>
						<p>pior que tá não fica</p>
					</article>
					<article>
						<img
							src="https://uploads.metropoles.com/wp-content/uploads/2018/01/10142944/Screenshot_1115-556x400.jpg"
							alt=""
							width="40%"
						/>
						<h4>Tiririca</h4>
						<p>pior que tá não fica</p>
					</article>
				</div>
		</section>
	</main>

    <footer><p class="copyright">&copy; Pokémon - Todos os direitos reservado - 2022</p></footer>
    
</body>
